<div class="nos">
    <h2 style="margin-bottom: 50px; text-align: center;">Nuestro Proposito. <br>Como Pensamos.</h2>
    <div class="row wider_div">
    <div class="col-xs-12 col-sm-7" style="padding-bottom: 212px ">
    <p>We're obsessed about time here at Timely. We all have the same twenty four hours starting point, every single day. Doesn't matter if you're rich or poor. Now whoever utilises their time the best are the ones who progress faster. We call this the 25th hour. And we're on a mission to unlock it.</p>
    <p>Creating a time tracking app is our first step in that journey and we can't believe that in 2017 that is still a task one have to do manually. We want to be the time tracking app to end time tracking.</p>
    <p>And eventually we hope to increase world's productivity by one, two or three percent; Imagine what progress could be made, and the problems we could solve.</p>
    </div>
    <div class="col-xs-12 col-sm-5">
    <img  src="http://www.pngmart.com/files/1/Glasses-Transparent-Background-420x141.png" height="200px" width="450px">
    
    </div>
    </div>
    </div>