$nav-color: #5f5f5f;

body{
    padding-top: 60px;
}
.jumbotron{
    background-image: url("hola.png") ;
    color: whitesmoke;

    
    
}

.display-3text{
    color:wheat;
    font-size: 20px;


}
.btnjumb{
    
    background-color: #061D25;
   

}
